/node_modules
flask-server/models/resnet50_trained_model.h5
# Ignore model files
# /models

# Ignore virtual environments
venv/
build/
uploads/

# Ignore .env files
.env
backend/.env
flask-server/.env
frontend/.env